.gradle
/local.properties
.DS_Store # only needed under mac os
/build
/captures
*.iml
.idea
*.apk #optional
keystore.properties
# not using these currently
app/englishwords.jks
app/englishwords_debug.jks
app/src/release/google-services.json
app/src/debug/google-services.json
app/google-services.json