.gradle
/local.properties
.DS_Store # only needed under mac os
/build
/captures
*.iml
.idea
*.apk #optional
keystore.properties
app/fabric.properties
app/englishwords.jks
app/englishwords_debug.jks
apikey